name: CI
on:
  push:
    branches:
      - master
    tags:
      - "!*"
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2
      - uses: kenchan0130/actions-system-info@v1.0.0
        id: system-info
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.5.1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Get npm cache directory
        id: npm-cache
        run: |
          echo "::set-output name=cache-dir::$(npm config get cache)"
      - name: Cache Node.js modules
        uses: actions/cache@v3.0.1
        with:
          path: ${{ steps.npm-cache.outputs.cache-dir }}
          key: ${{ runner.os }}-${{ steps.system-info.outputs.release }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-${{ steps.system-info.outputs.release }}-node-
            ${{ runner.os }}-${{ steps.system-info.outputs.release }}
      - name: Install dependencies
        run: npm ci
      - name: Run lint
        run: npm run lint
      - name: Run build
        run: npm run build
      - name: Run test
        run: npm run test
